body {
    background: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
  }

  .container h2 {
    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 100px;
    margin-top: -50px;
    font-size: 100px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #3F51B5;
    animation: cymV2 1.5s ease-in backwards;
  }

  @media screen and (max-width: 640px) {
    .container h2 {
      top: 45%;
      font-size: 70px;
      text-align: left;
      line-height: 70px;
    }
  }

  @media screen and (max-width: 400px) {
    .container h2 {
      top: 45%;
      font-size: 60px;
      line-height: 50px;
    }
  }

  @keyframes cymV2{
    0%{
      filter: blur(15px);
      opacity: 0.3;
      transform: rotate(10deg);
      color: #e6f2ff;
    }
    10%{
      transform: rotate(-7deg);
    }
    19%{
      transform: rotate(5deg);
    }
    28%{
      transform: rotate(-3deg);
    }
    34%{
      transform: rotate(1deg);
    }
    40%{
      transform: rotate(-1deg);
    }
    42%{
      opacity: 0.5;
      filter: blur(1px);
      color: #0073e6;
      transform: rotate(0deg);
    }
    45%{
      opacity: 1;
      filter: blur(0px);
      color: #3F51B5;
    }
    90%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
